{% extends "index.html" %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
    <h1>{{ block_title }}</h1>
    <ul>
        <li>
            <img src="\static\images\Main pizza.jpg"
             alt="Піцца" style="float: right;width:600px;height:370px;">
            <img src="\static\images\Shef.jpg"
             alt="Шеф" style="float:left;width:250px;height:350px;">
        </li>
    </ul>
    <a href="/" style="float: left">
            <button>Back</button>
    </a>
{% endblock content %}