<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ title }}{% endblock title %}</title>
        <link rel="stylesheet" href="\static\css\base.css">
    </head>

    <body>
    {% block content %}
        <h1>Ла pizza</h1>

        <p>Якийсь адрес?</p>

        <a href="/menu">
            <button>Menu</button>
        </a>
        <a href="/about" style="float: left">
            <button>Info</button>
        </a>
        <a href="/images" style="float: right">
            <button>Images</button>
        </a>
    {% endblock content %}
    </body>
</html>